// COLORS

//@import '~@angular/material/theming';
// $blue: #3f51b5;
// $blue: #683fb5;
// $blue: #673AB7;

$blue: #6A1B9A;
// $primary: mat-palette($mat-deep-purple);
$mediumOpacityBlue: rgba(63, 81, 181, 0.85);
$lightOpacityBlue: rgba(63, 81, 181, 0.3);
$extraLightOpacityBlue: rgba(63, 81, 181, 0.15);

$red: #ff291e;
$green: #16e941;

// SIZES
$navbarHeight: 56px;
$smallDeviceBreakpoint: 700px;
