@import 'src/sass/variables';

nav {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    height: $navbarHeight;
    background-color: $blue;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    color: #fff;
    .nav-item {
        margin-left: 15px;
    }
}

.flex-item {
    display: flex;
    align-items: center;
}

#green-point {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
    margin-right: 5px;
    background-color: greenyellow;
    border: 2px solid #fff;
}

#red-point {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
    margin-right: 5px;
    background-color: red;
    border: 2px solid #fff;
}

h1 {
    margin: 0;
    font-size: 18px;
}
