<nav>
    <button mat-button [routerLink]="'/'" matTooltip="Go Home">
        <!-- matTooltip="Go Home" matTooltipPosition="after" aria-label="Button that displays a tooltip when focused or hovered over"  -->
        <span class="material-icons">
            public
        </span>
        Charity DApp!
    </button>
    <!-- <h1>Awesome Decentralized Delivery App!</h1> -->

    <div class="flex-item">
        <!-- <div>
            <mat-form-field appearance="fill">
                <mat-label>Search Charities or Contractors</mat-label>
                <input matInput>
            </mat-form-field>
        </div> -->
        <div class="nav-item flex-item" *ngIf="!isWeb3Ready"><span id="red-point"></span> <i>Waiting to connect...</i></div>
        <div class="nav-item flex-item" *ngIf="isWeb3Ready"><span id="green-point"></span> {{ currentNetwork | titlecase }}</div>
        <div class="nav-item">{{ a }}</div>
        <div class="nav-item" *ngIf="isWeb3Ready">{{ b }} ETH</div>
    </div>
</nav>