<nav>
    <div>
        <button mat-button [routerLink]="'/'">
            <span class="material-icons">
                public
            </span>
            Charity DApp!
        </button>
        <button mat-button [routerLink]="'/search'">
            Search
        </button>
        <button mat-button [routerLink]="'/contractor'">
            New Contractors
        </button>
    </div>
    <!-- <h1>Awesome Decentralized Delivery App!</h1> -->

    <div class="flex-item">
        <!-- <div>
            <mat-form-field appearance="fill">
                <mat-label>Search Charities or Contractors</mat-label>
                <input matInput>
            </mat-form-field>
        </div> -->
        <div class="nav-item flex-item" *ngIf="!isWeb3Ready"><span id="red-point"></span> <i>Waiting to connect...</i></div>
        <div class="nav-item flex-item" *ngIf="isWeb3Ready"><span id="green-point"></span> <b>{{currentNetwork | titlecase }}</b></div>
        <div class="nav-item">{{ a }}</div>
        <div class="nav-item" *ngIf="isWeb3Ready">{{ b }} ETH</div>
    </div>
</nav>