<nav>
    <button mat-icon-button matTooltip="Go Home" matTooltipPosition="below" [routerLink]="Home">
        <span class="material-icons">
          public
        </span>
        <h1>Charity DApp!</h1>
    </button>
    <!-- <div>
        <mat-form-field appearance="fill">
            <mat-label>Search Charities or Contractors</mat-label>
            <input matInput>
        </mat-form-field>
    </div> -->
    <div class="flex-item">
        <!-- <div>
            <mat-form-field appearance="fill">
                <mat-label>Search Charities or Contractors</mat-label>
                <input matInput>
            </mat-form-field>
        </div> -->
        <div class="nav-item flex-item" *ngIf="!isWeb3Ready"><span id="red-point"></span> <i>Waiting to connect...</i></div>
        <div class="nav-item flex-item"><span id="green-point"></span> {{ currentNetwork | titlecase }}</div>
        <div class="nav-item">{{ a }}</div>
        <div class="nav-item" *ngIf="isWeb3Ready">{{ b }} ETH</div>
    </div>
</nav>