@import 'src/sass/variables';

h2 {
    text-align: center;
}

mat-card {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

mat-form-field {
    padding: 10px;
}

mat-radio-group {
    padding: 10px;
}

.radio-button {
    margin: 5px;
}

.btm {
    margin-bottom: 10px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.create-btn {
    float: right;
}