<!-- <section> -->
<mat-card>
    <div class="main-form-container">
        <!-- class="mat-elevation-z8"> -->
        <form #formDirective="ngForm" [formGroup]="searchForm">
            <!-- <span> -->
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Look up Charities or Contractors</mat-label>
                <input matInput type="text" formControlName="search">
            </mat-form-field>
            <!-- </span> -->
            <div>
                <button mat-raised-button color="primary" class="create-btn" (click)="onSubmit(formDirective)">
                    <span class="material-icons">
                        search
                    </span>
                    Search
                </button>
            </div>
        </form>
    </div>
</mat-card>
<!-- </section> -->
<!-- <mat-divider></mat-divider> -->