@import 'src/sass/variables';

.create-btn {
    float: right;
    margin-left: 250px;
}

// mat-card {
//     margin-bottom: 10px;
//     display: flex;
//     flex-wrap: wrap;
// }

// mat-form-field {
//     padding: 10px 10px 10px 0px;
// }

.padding {
    float:left;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.full-width {
    width: 94%;
}

h2 {
    text-align: center;
}

mat-card {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

mat-form-field {
    padding: 10px;
}

.btm {
    margin-bottom: 10px;
}
